.nullblock {
  border: 3px dotted lightgray;
  width: 96px;
  height: 96px;
}


.sty_input {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  font-size: 14px;
}
.sty_btn {
  width: 90px;
  margin: 0 10px;
  font-size: 14px;
}