<!-- 响应式表单 -->
<div [formGroup]="appInfo">
  <div class="form-group">
    <label>
      应用名称：
      <!-- FormControl -->
      <!-- <input type="text" [formControl]="app_name" > -->
    </label>
    <input class="form-control" [(ngModel)]="appName" name="appName" type="text" formControlName="app_name" required>
  </div>
  <div class="form-group">
    <label>
      应用包名：
    </label>
    <input class="form-control" [(ngModel)]="pkgName" name="pkgName" type="text" formControlName="pkg_name" required>
  </div>
  <div class="form-group">
    <label>
      应用开发商：
    </label>
    <input class="form-control" [(ngModel)]="company" name="company" type="text" formControlName="company">
  </div>
  <div class="form-group">
    <label>
      应用名称字母索引：
    </label>
    <input class="form-control" [(ngModel)]="alphaIndex" name="alphaIndex" type="text" formControlName="alphaIndex">
  </div>
  <div class="form-group">
    <label>
      应用分类：
    </label>
    <input class="form-control" [(ngModel)]="category" name="category" type="text" formControlName="category">
  </div>
</div>
