<!-- 响应式表单 -->
<div [formGroup]="appInfo">
  <div class="form-group">
    <label>
      应用名称：
      <!-- FormControl -->
      <!-- <input type="text" [formControl]="app_name" > -->
    </label>
    <input class="form-control" [(value)]="appName" type="text" formControlName="app_name" required>
  </div>
  <div class="form-group">
    <label>
      应用包名：
    </label>
    <input class="form-control" [(value)]="pkgName" type="text" formControlName="pkg_name" required>
  </div>
  <div class="form-group">
    <label>
      应用开发商：
    </label>
    <input class="form-control" [(value)]="company" type="text" formControlName="company">
  </div>
</div>
