<!-- 响应式表单 -->
<form [formGroup]="appInfo">
  <div class="form-group" style="text-align: center;">
    <div class="" style="display: inline-block;margin: 0 23px;">
      <img src="/{{cmsSrc}}" width="96" height="96" style="vertical-align: baseline; border-radius: 23px;">
    </div>

    <div style="margin: 0 23px;" [hidden]="!(pkgName && appName)" class="nullblock" [ngClass]="{'activeImg': imgsrcTemp[0]}" ng2FileDrop (onFileDrop)="fileDropOver($event)" [uploader]="uploader">
      <!-- imgPreview [image]="imgsrcTemp[0]" [isClear_direct]="isClear_child" -->
      <img #previewImg name="cmsSrc" id="previewImg" src="default/DEFAULTICONOFALL/default-null.png" style="display: inline-block; vertical-align: baseline;" width="96" height="96" />
    </div>
    
  </div>
  <div class="form-group">
    <label>
      应用名称：
      <!-- FormControl -->
      <!-- <input type="text" [formControl]="app_name" > -->
    </label>
    <input class="form-control" [(ngModel)]="appName" name="appName" type="text" formControlName="app_name" required>
  </div>
  <div class="form-group">
    <label>
      应用包名：
    </label>
    <input class="form-control" [(ngModel)]="pkgName" name="pkgName" type="text" formControlName="pkg_name" required>
  </div>
  <div class="form-group">
    <label>
      应用开发商：
    </label>
    <input class="form-control" [(ngModel)]="company" name="company" type="text" formControlName="company">
  </div>
  <div class="form-group">
    <label>
      应用名称字母索引：
    </label>
    <input class="form-control" [(ngModel)]="alphaIndex" name="alphaIndex" type="text" formControlName="alphaIndex">
  </div>
  <div class="form-group">
    <label>
      应用分类：
    </label>
    <input class="form-control" [(ngModel)]="category" name="category" type="text" formControlName="category">
  </div>
</form>
