<!-- 参考链接 https://segmentfault.com/q/1010000010999220 -->
<ul class="pageUi clear">
  <li (click)="changePage('first')" class="fa fa-angle-double-left" [ngClass]="{'disable': pageValidation.isFirst}">首页
  </li>
  <li (click)="changePage('pre')" class="fa fa-angle-left" [ngClass]="{'disable': pageValidation.isFirst}">上一页
  </li>
  <li (click)="changePage(page)" *ngFor="let page of pageArr" [ngClass]="{'active': page == currentPage}">{{page + 1}}
  </li>
  <li (click)="changePage('next')" class="fa fa-angle-right" [ngClass]="{'disable': pageValidation.isLast}">下一页
  </li>
  <li (click)="changePage('last')" class="fa fa-angle-double-right" [ngClass]="{'disable': pageValidation.isLast}">尾页
  </li>
</ul>
<!-- <ul class="pagination own_pagination">
  <li class="page-item" [class.disabled]="currentPage < 1">
    <a class="page-link" (click)="goPrev(currentPage)">上一页</a>
  </li>
  <li class="page-item" class="disabled" *ngIf="currentPage > 3">
    <a class="page-link">...</a>
  </li>
  <li class="page-item" *ngIf="currentPage >= 3">
    <a class="page-link" (click)="changePage(currentPage-3)">{{currentPage-2}}</a>
  </li>
  <li class="page-item" *ngIf="currentPage >= 2">
    <a class="page-link" (click)="changePage(changePage-2)">{{currentPage-1}}</a>
  </li>
  <li class="page-item" *ngIf="currentPage >= 1">
    <a class="page-link" (click)="changePage(currentPage-1)">{{currentPage}}</a>
  </li>
  <li class="page-item active">
    <a class="page-link" (click)="changePage(currentPage)">{{currentPage+1}}</a>
  </li>
  <li class="page-item" *ngIf="currentPage <= totalPage-2">
    <a class="page-link" (click)="changePage(currentPage+1)">{{currentPage+2}}</a>
  </li>
  <li class="page-item" *ngIf="currentPage <= totalPage-3">
    <a class="page-link" (click)="changePage(currentPage+2)">{{currentPage+3}}</a>
  </li>
  <li class="page-item" *ngIf="currentPage <= totalPage-4">
    <a class="page-link" (click)="changePage(currentPage+3)">{{currentPage+4}}</a>
  </li>
  <li class="page-item" class="disabled" *ngIf="currentPage < totalPage-4">
    <a class="page-link">...</a>
  </li>
  <li class="page-item" [class.disabled]="currentPage > totalPage-2">
    <a class="page-link" (click)="goNext(currentPage)">下一页</a>
  </li>
  <li class="page-item">
    <a class="page-link" (click)="changePage(totalPage-1)">尾页</a>
  </li>
</ul>
 -->
