<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Icon-Rename</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="client/styles.6cacee6fe6a47f872a4d.css">
</head>

<body>
  <app-root></app-root>
  <script type="text/javascript" src="client/runtime.ec2944dd8b20ec099bf3.js"></script>
  <script type="text/javascript" src="client/polyfills.20ab2d163684112c2aba.js"></script>
  <script type="text/javascript" src="client/scripts.7bae23f8e8303d65b966.js"></script>
  <script type="text/javascript" src="client/main.cedca0bf053a8bc6c493.js"></script>
</body>

</html>