.add-icons {
  background-image: url(../../../assets/operate_icon/add.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0 5px;
}
.del-icons {
  background-image: url(../../../assets/operate_icon/del.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0 5px;
}
.edit-icons {
  background-image: url(../../../assets/operate_icon/edit.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0 5px;
}
.table td, .table th {
  vertical-align: middle;
}
.modal-footer .alert {
  padding: 0.37rem 1.25rem;
  margin-bottom: 0;
}
.col-wrapper {
  margin-top: 13px;
}

.arrow {
  display: inline-block;
  vertical-align: top;
  padding: 34px 0;
}


.sty_input {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  font-size: 14px;
}
.top_position {
  margin-top: 13px;
}