<div class="container-fluid">
    {{appName}}
    {{pkgName}}
    {{company}}
  <div class="col-md-12 col-wrapper">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr>
          <th>应用名称</th>
          <th>应用包名</th>
          <th>应用开发商</th>
          <th>操作</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let app of anyList">
          <td>{{app.cn_name}}</td>
          <td>{{app.pkg_name}}</td>
          <td>{{app.company}}</td>
          <td>
            <i class="add-icons" (click)="add()" data-toggle="modal" data-target="#myModal"></i>
            <i class="edit-icons" (click)="edit(app.app_id)" data-toggle="modal" data-target="#myModal"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 分页插件 -->
  <div class="m-auto">
    <pagination [pageLinkSize]="5" [rows]="15" [currentPage]="pageInfo?.current_page" [totalRecords]="pageInfo?.all_total"
      (onPageChange)="paginate($event)">
    </pagination>
  </div>

  <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">{{modal_title}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- 模态框主体 -->
        <div class="modal-body">
            <app-form #form [appName]="appName?appName:''" [pkgName]="pkgName?pkgName:''" [company]="company?company:''"></app-form>
        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
          <span class="alert alert-success" *ngIf="msg">{{msg}}请点击'关闭'按钮！</span>
          <button type="submit" class="btn btn-primary" [disabled]="!form.appInfo.valid" (click)="submit(action,form)">保存</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">关闭</button>
        </div>

      </div>
    </div>
  </div>

</div>
